<%- include('partials/head') %>
<body>
    <h1>
        This is <%= name %> reddit
    </h1>
    <h2><%= description %></h2>
    <p><%= subscribers %></p>

    <% for (let post of posts) { %>
        <div>

            <p><%= post.title %> - <b><%= post.author %></b></p>
            <% if (post.img) { %>
                <img src="<%= post.img %>" alt="" width="500px">
            <% } %>
        </div>
    <% } %>
</body>
</html>